<div class="pagelayout">
    <div class="row">
        <div class="col-2">
            <div class="sidenav">
                <ul class="list-group">
                    <li class="listgroupitem"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sign In</a></li>
                    <li class="listgroupitem"><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>

                </ul>
            </div>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-2"></div>
    </div>
</div>