* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.pagelayout {
    height: 100%;
    width: 100%;
    background-color: #F2F3F7;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
}

.listgroupitem {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 40px;
    color: #A3A0A0;
    border-left: 5px solid #A3A0A0;
    padding: 18px;
    font-weight: bold;
}

a.active {
    color: #211F99;
    border-left: 5px solid #211F99;

}

.list-group {
    line-height: 8rem;
}
@media only screen and (max-width:1200px) {
    a {
    font-size: 33px;
}
}