* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.pagelayout {
    height: 100%;
    width: 100%;
    background-color: #F2F3F7;
}

.sidenav {
    background-color: #211F9F;
    height: 100vh;
    background-image: url('../../assets/images/Group441.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.jukshioimgfiled {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;

}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontalline{
    padding: 15px;
    width: 65%;
}
.btnfield{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.btnmodel {
    background-color: #fff;
    border: none;
    color: #211F9F;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
   
}
.chargingcircle {
    float: left;
}
.settingfield{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.settings{
    background-color: #211F9F;
    border: none;
    color: #FFF;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
}
.settingimg{
    float: left;
}
.logoutfield{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 40%;
}
.logout{
    background-color: #211F9F;
    border: none;
    color: #FFF;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
}
.logoutimg{
    float: left;
}
.first {
    display: flex;
    padding: 10px 0px;
}

.modelheading {
    color: #211F9F;
    font-weight: 600;
}

.smallheading {
    font-size: 12px;
    font-weight: 600;
}

.searchbox {
    background-image: url('../../assets/images/loupe.svg');
    background-repeat: no-repeat;
    padding: 10px 60px;
    background-position-y: 50%;
    background-position-x: 1%;
    border: none;
}

.buttonStyle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #211F9F;
    color: #FFF;
    border-radius: 5px;
}

.dropdown-toggle::after {
    display: none;
}

.traininginfo {
    background-color: #FFF;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
}

.infoheading {
    color: #211F9F;
    font-weight: 600;
    display: inline;
}
.alignments{
    height: 90px;
    overflow-y: scroll;
    padding-right: none;
}
.alignments::-webkit-scrollbar{
    width: 5px;
}
.alignments::-webkit-scrollbar-thumb{
    background-color: #211F9F;
    border-radius: 10px;
}
.alignments::-webkit-scrollbar-track{
    background-color: #FFF;
}

.zoomout {
    float: right;
    padding: 0px 20px;
}

.bottombg {
    background-color: #FFF;
    padding: 20px;
}
.modeldropdown{
    padding: 30px 0px;
}

.modelButton {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #211F9F;
    color: #FFF;
    float: right;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 100%;
    padding: 15px;
    background-color: #FFF;
}
.dropdownitem {
    padding: 5px 0px;
    color: #211F9F;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.menu1 {
    width: 100%;
    padding: 15px;
    background-color: #F2F3F7;
}

.dropdownitem1 {
    padding: 5px 0px;
    color: #211F9F;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.thresholdheading {
    color: #211F9F;
    font-weight: 600;
    padding: 30px 0px;
}

.bgline {
    background-color: #F2F3F7;
    padding: 10px;
}

.bgslider {
    background-color: #F2F3F7;
    padding: 10px;
}

.tweakheading {
    color: #211F9F;
    font-weight: 600;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #211F9F;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #211F9F;
    height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #211F9F;
    border-radius: 50%;
    bottom: 15px;
    position: relative;
}

.zero {
    display: inline;
    color: #211F9F;
    font-weight: 600;
}

.one {
    display: inline;
    float: right;
    color: #211F9F;
    font-weight: 600;
}

.tweakfield {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweakfieldbutton {
    padding: 10px 30px;
    background-color: #211F9F;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.progressbar1,
.progressbar2,
.progressbar3 {
    height: 70px;
    width: 70px;
    background: conic-gradient(#211F9F 0deg, #FFF 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    left: 3vw;
}

.progressbar1::before,
.progressbar2::before,
.progressbar3::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: #F2F3F7;
    border-radius: 50%;
    position: absolute;
}

.value1,
.value2,
.value3 {
    position: relative;
    z-index: 3;
    color: #211F9F;
}

.namesofprogress {
    color: #211F9F;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 56px;
}

.bglinecircles {
    background-color: #F2F3F7;
    padding: 22px 10px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.modelscoretitle {
    color: #211F9F;
    font-weight: 600;
}

.bottomline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ft1,
.ft2,
.rt1 {
    color: #211F9F;
}

.ft1field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ft1bg {
    background-color: #FFF;
    width: 50%;
}

.blue {
    background-color: #211F9F;
    color: #FFF;
    display: inline-block;
    width: 50%;
}

.bglinefts {
    background-color: #F2F3F7;
    padding: 10px;
    width: 32%;
}

.orbitron {
    color: #211F9F;
    font-family: orbitron;
    font-weight: 600;
}

.cmheading,
.pclassheading {
    color: #211F9F;
    font-weight: 600;
}

.actualclass {
    color: #211F9F;
    display: inline-block;
    transform: rotate(-90deg);
}

.lower {
    display: flex;
    align-items: center;
    justify-content: normal;
    gap: 10px;
}

.whiteone {
    background-color: #FFF;
    width: 47%;
}

.tpstyle {
    background-color: #211F9F;
    color: #FFF;
    display: inline-block;
    padding: 5px 20px;
}

.complete {
    display: flex;
    align-items: center;
}

.divwidth {
    width: 70%;
}

.bglinesrow {
    background-color: #F2F3F7;
    padding: 10px 0px 56px 0px;
}

.model {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modelcontent {
    height: 50%;
    width: 50%;
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.okbuttonfield {
    display: flex;
    align-items: center;
    justify-content: center;
}

.okbutton {
    width: 50%;
    color: #FFF;
    background: #211F9F;
    padding: 10PX;
    border: none;
    border-radius: 5px;
}

.modelscontent{
    background-color: #FFF;
    width: 50%;
    height: 50%;
    padding: 15px;

}
.zoomalignments{
    padding: 30px 0px;
}


