<div class="pagelayout">
    <div class="row">
        <div class="col-3">
            <div class="sidenav">
                <div class="jukshioimgfiled">
                    <img src="../../assets/images/Group 507.svg" class="jimg">
                </div>
                <div class="photo">
                    <div class="imagecapture"></div>
                </div>
                <div class="welcomeback">Welcome Back,</div>
                <h4 class="name">{{name}}</h4>
                <div class="line">
                    <img src="../../assets/images/Line 1.svg" class="horizontalline">
                </div>
                <div class="btnfield">
                    <button class="btnmodel">
                        <img src="../../assets/images/charging-circle.svg" class="chargingcircle">
                        Model Tracking
                    </button>
                </div>
                <div class="settingalign">
                    <div class="settings">
                        <img src="../../assets/images/settings.svg" class="settingimg">
                        <span>Settings</span>
                    </div>
                </div>
                <div class="logoutfield">
                    <div class="logout">
                        <img src="../../assets/images/Group 466.svg" class="logoutimg">
                        Log Out
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <h3 class="modelheading">Model Tracking</h3>
                    <h6 class="smallheading">Golden Model Analysis</h6>

                </div>
                <div class="col-8">
                    <input type="search" class="form-control searchbox" placeholder="Search">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    
                </div>
                <div class="col-8"></div>
            </div>
        </div>
    </div>
</div>