* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.pagelayout{
    background-color: #F2F3F7;
    height: 100%;
}
.sidenav{
    background-color: #211F9F;
    height: 100vh;
    background-image: url('../../assets/images/Group441.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.jukshioimg{
    transform: translate(50%,50%);
}
@media only screen and (max-width:1200px) {
    .jukshioimg{
        transform: translate(25%,50%);
 
    }
    
}