<div class="pagelayout">
    <div class="row">
        <div class="col-3">
            <div class="sidenav">
                <img src="../../assets/images/Group 519.svg" class="logo">
            </div>
        </div>
        <div class="col-9 p-4">
            <h2 class="text-center headingpart">webcam verification</h2>
            <div class="field">
                <button (click)="checkwebcam()" class="checkbutton">checkwebcam</button>
            </div>
            <div class="field">
                <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)"></webcam>
                <button (click)="imagecapture()" class="capture">capture</button>
            </div>
            <div *ngIf="previewimage" class="preview">
                <h5 class="capturecolor">Captured image successfully</h5>
                <button (click)="proccedbutton()" class="proceed">proceed</button>
            </div>
        </div>
    </div>

</div>